body {
	background-color: #111;
	color: #aaa;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	font-size: 1.2em;
}

a {
	color: #fff;
	text-decoration: underline;
	text-decoration-color: #fff5;
}

a:hover {
	text-decoration-color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #fff;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a.button {
	display: inline-block;
	width: auto;
	background: #333;
	color: #eee;
	text-align: center;
	border-radius: .5rem;
	padding: .5rem 1rem;
	font-size: 1rem;
	font-weight: 300;
}

a.button:hover {
	background-color: #222;
}

a.button i {
	color: #999;
}

header {
	height: 1.5rem;
	background-image: linear-gradient(60deg, #6b0075, #9d35ff 40%, #93a813 65%, #005034);
}

#headblock {
	padding: 2em 0;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2em;

}
#headblock img {
	display: flex;
}

#headline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#headline h1 {
	background-clip: text;
	background: linear-gradient(60deg, #6b0075, #9d35ff 40%, #93a813 65%, #005034);
	color: #fff;
	font-family: sans-serif;
	font-size: 4em;
	font-weight: 300;
	padding: 0.1em 0.2em;
}

#headline span {
	color: #bbb;
	display: flex;
	flex-direction: row;
	font-size: 1.3rem;
	font-weight: 400;
	justify-content: space-between;
	letter-spacing: 0.1em;
	margin: 0.1em 0 0;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}

#headline span p {
	margin: 0;
}

abbr {
	text-decoration: none;
}

section p {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #eee;
	font-size: 1.4rem;
	text-align: justify;
}

img {
	max-width: 100%;
}

#map {
	display: block;
	width: 100%;
	max-width: 640px;
	height: 360px;
	margin: auto;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(#0000), color-stop(0.5, #0000), to(#0003));
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(0, 0, 0, 0.75);
	gap: 5rem;
	padding: 5rem 0 10rem;
}

main section {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	max-width: 800px;
	margin: 0;
	padding: 0 2rem;
	gap: 2rem;
	align-items: stretch;
	align-content: stretch;
	border-radius: 2rem;
}

main cards {
	display: flex;
	flex-flow: row wrap;
	max-width: 1024px;
	margin: 0;
	padding: 0 2rem;
	align-items: stretch;
	align-content: stretch;
	border-radius: 2rem;
}

main cards card:first-child {
	border-radius: 1rem 1rem 0 0;
}

main cards card:last-child {
	border-radius: 0 0 1rem 1rem;
}


@media screen and (min-width: 1024px) {

	main cards card:first-child {
		border-radius: 1rem 0 0 1rem;
	}

	main cards card:last-child {
		border-radius: 0 1rem 1rem 0;
	}

	main cards {
		flex-flow: row nowrap;
		align-items: stretch;
		justify-content: stretch;

	}

}

main card {
	display: flex;
	align-self: stretch;

	flex-flow: column wrap;
	align-items: stretch;
	justify-content: space-between;

	width: 100%;

	font-size: 1.2rem;
	padding: 1rem;
	gap: 1rem;
}

card p {
	margin: 0;
	padding: 0;
}

card a+a {
	margin-left: 1em;
}

main section hero {
	color: #eee;
	font-size: 2rem;
}



#card-1 {
	background-color: #6b0075;
	color: #f37eff;
}

#card-2 {
	background-color: #9d35ff;
	color: #dbb5ff;
}

#card-3 {
	background-color: #606e0f;
	color: #f1ffa1;
}

#card-4 {
	background-color: #005034;
	color: #70ffcc;
}

main article {
	display: flex;
	flex-direction: column;
	padding: 1em;
	background-color: #000;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.95);
	border-top: 1px solid #444;
	display: flex;
	padding: 2rem;
	gap: 2rem;
}