body {
	background-color: #111;
	color: #aaa;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	font-size: 1.2em;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: #fff0;
}

section a {
	text-decoration-color: #fff5;
}

a:hover {
	text-decoration-color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #fff;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a.button {
	display: inline-block;
	width: auto;
	background: #333;
	color: #eee;
	text-align: center;
	border-radius: .5rem;
	padding: .5rem 1rem;
	font-size: 1rem;
	font-weight: 300;
}

a.button:hover {
	background-color: #222;
}

a.button i {
	color: #999;
}

#menu {
	text-align: right;
	font-size: 1rem;
	
	border-style: solid;
	border-width: 0 0 1px;
	border-image: linear-gradient(60deg, #6b0075, #9d35ff 40%, #93a813 65%, #005034) 0.5;
}

#menu li {
	display: inline-block;
	margin: 0.2em 0.5em;
	color: #aaa;
}

#menu li.selected, #menu li:hover {
	color: #fff;
}

#menu li a {
	text-decoration: none;
}

abbr {
	text-decoration: none;
}

section p {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #eee;
	text-align: justify;
}

img {
	max-width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(0, 0, 0, 0.75);
	gap: 5rem;
	padding: 5rem 1rem 10rem;
	overflow-x: hidden;
}

main section {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	max-width: 800px;
	margin: 0;
	padding: 0 2rem;
	gap: 2rem;
	align-items: stretch;
	align-content: stretch;
	border-radius: 2rem;
}

main section hero {
	color: #eee;
	text-align: center;
	font-size: 1.5rem;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #444;
	display: flex;
	padding: 2rem;
	gap: 2rem;
}
