name: CI

on:
   push:
      branches:
         - main
      tags:
         - '!**' # Don't run twice on commits with tags
   pull_request:
   workflow_dispatch:

permissions:
   contents: read

env:
   GITHUB_ORG: versatiles-org

jobs:
   build:
      name: Lint, Test, Build
      runs-on: ubuntu-latest
      steps:
         - name: Checkout
           uses: actions/checkout@v6

         - name: Set up Deno
           uses: denoland/setup-deno@v2
           with:
              deno-version: v2.x
              cache: true

         - name: Lint
           run: deno lint

         - name: Format
           run: deno fmt --check

         - name: Test
           run: deno test -A

         - name: Build
           run: deno task build

         - name: Upload Pages artifact
           if: github.ref == 'refs/heads/main'
           uses: actions/upload-pages-artifact@v4
           with:
              path: 'dist'

   gh-release:
      name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/main'

      needs: build

      permissions:
         pages: write
         id-token: write

      environment:
         name: github-pages
         url: ${{ steps.deployment.outputs.page_url }}

      runs-on: ubuntu-latest
      steps:
         - name: Deploy to GitHub Pages
           id: deployment
           uses: actions/deploy-pages@v4

   update-tools-sites:
      needs: gh-release
      runs-on: ubuntu-latest
      steps:
         - name: Trigger tools site update
           env:
              GH_TOKEN: ${{ secrets.PAT_TOKEN }}
           run: gh workflow run gh-release.yml --repo ${{ env.GITHUB_ORG }}/tools --ref main

   update-playground-sites:
      needs: gh-release
      runs-on: ubuntu-latest
      steps:
         - name: Trigger playground site update
           env:
              GH_TOKEN: ${{ secrets.PAT_TOKEN }}
           run: gh workflow run gh-release.yml --repo ${{ env.GITHUB_ORG }}/playground --ref main
